@import 'mixins/mixins';

//apparition titres

.titleAnimation {
    display: inline-block;
    margin-right: 15px;
    opacity: 0;
    transform: translateY(100%);

    transition: opacity 0.2s ease-in, transform 0.5s ease-in;

    &.visibility {
        opacity: 1;
        transform: translateY(0);
    }
}

//Rotation des fleurs
.story h2,
.story__article,
#studio h2 {
    &::after {
        @include rotateFlowers;
    }
}

#studio h2::before {
    @include rotateFlowers;
}

.eventOscars,
.site-footer ul {

    &::before,
    &::after {
        @include rotateFlowers;
    }
}

.orchidMenu,
.flowerMenu,
.sunflowerMenu,
.randomflowerMenu,
.hibiscusMenu {
    @include rotateFlowers;
}

//animation flottement de titre
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    @include floatAnimation;

}


