div .main-characters {
    width: 1400px;
}

article #characters {
    width: 1400px;
}

h3 {
    text-align: left;
    background-position: left;
    padding: 50px 60px;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    margin-left: -33.5em;


    &-slide {
        background-position: center;
        background-size: cover;
        width: 480px;
        height: 480px;
        margin-right: 40px;
        margin-left: 40px;


        img {
            display: block;
            width: 100%;


        }
    }
}