.eventOscars {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 230px;
    margin-right: 230px;
    align-items: center;

    &::before {
        content: url('./assets/images/Sunflower.png');
        position: absolute;
        left: -130px;
        top: -80px;
    }

    &::after {
        content: url('./assets/images/orchid.png');
        position: absolute;
        right: -320px;
        top: -130px;
        z-index: -1;

    }

    .imgOscars {
        mix-blend-mode: darken;
        margin-top: -30px;

        .oscar_img{
            height: 129px;
            width: 278px;
        }
       
    }

    .titreOscar {
        font-size: 42px;
        font-weight: 700;
        color: #FFF5E9;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        padding: 94px;
        line-height: 45px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url('./assets/images/oscar_bg.png');
        text-align: left;
        height: 350px;

       
    }
}
