//Fade-in sections
.fadeIn {
  animation: fadeIn 1s ease-in-out;


  @keyframes fadeIn {
      0% {
          opacity: 0;
          transform: translateY(200px);
      }

      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }
}


/****Flower rotation effect****/

@mixin rotateFlowers {
    animation: rotate 15s linear infinite;

    @keyframes rotate {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

@mixin floatCat {
  animation: floatCat 3s ease-in-out infinite alternate;  

  @keyframes floatCat {
    0% {
        transform: translate(-50%, -100%) rotate(0deg);
    }

    50% {
        transform: translate(-50%, -90%) rotate(-5deg);
    }

    100% {
        transform: translate(-50%, -95%) rotate(0deg);
    }
  }
}

/****Location section with moving clouds****/ 

@mixin moveCloud { 


    @keyframes moveCloud { 
        from { 
          transform: translateX(0); 
        } 
     
        to { 
          transform: translateX(-300px); 
        } 
      }
   
}


//Title floating animation logo
@mixin floatAnimation {
    animation: floatAnimation 3s ease-in-out infinite alternate;

      @keyframes floatAnimation {
        0% {
            transform: translate(-50%, -50%);
        }

        50% {
            transform: translate(-50%, -60%);
        }

        100% {
            transform: translate(-50%, -50%);
        }
    }
}

/****We define the mixins breakpoints mobile and tablet****/ 

@mixin devices ($breakpoint) { //the name of the mixin is devices
  
    @if $breakpoint == tablet {    
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }
 
  @if $breakpoint == mobile {
    @media only screen and (max-width: 390px) {
      @content;
    }
  }
}
